
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 25em;
    height: 25em;
    text-align: center;
    background-color: white;
}

.form_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
.form_error p{
    margin-bottom: 20%;
    color: darkred;
}

.form_field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form_field > *{
    margin-bottom: 30px;
    border-radius: 5px;
    height: 3em;
    width: 20em;
}

.login_div button{
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 5px;
    height: 2em;
    font-size: 1em;
    background-color: #d0faef;
    cursor: pointer;
}

{% load static %}
.user-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.user-image img {
    width: 100%;
    height: 100%;

}
