body {
    margin: 0;
    margin-top: 150px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.headerGeneral {
    display: table;
    width: 100%;
}

.mainMenu {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: text-decoration 0.3s;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
}

.logo {
    display: table-cell;
    width: 20%;
    vertical-align: middle;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.extra-button {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
}

.button {
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerGeneral {
    display: table;
    width: 100%;
}

.logoFooter {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.logoFooter img {
    max-width: 100px;
    height: auto;
}

.footerCopy {
    display: table-cell;
    vertical-align: middle; /* Alinea verticalmente el contenido */
    text-align: center;
    width: 60%; /* Ocupa el 80% restante del ancho del footer */
}

.footerTextToCenter {
    display: table-cell;
    vertical-align: middle; /* Alinea verticalmente el contenido */
    text-align: center;
    width: 20%; /* Ocupa el 80% restante del ancho del footer */
    color: transparent;
}