{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <head>
        <title>Añadir pago al cliente</title>
        <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">
    </head>
    <body>
        <h1>Añadir pago al cliente</h1>
        <form method="post" class="form_vertical">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button-66">Confirmar</button>
        </form>
    </body>
{% endblock %}
</html>