{% extends 'base.html' %}
{% load static %}


{% block content %}
    <title>Añadir pedido del resturante</title>
    <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">

<body>
    <h1>Añadir pedido del resturante</h1>
    <a href="{% url 'addRestaurantOrderToBill' %}" class="button-66" role="button">Añadir pedido a pagos pendientes del hueped</a>
    <a href="{% url 'addRestaurantPayedOrder' %}" class="button-66" role="button">Añadir pedido pagado en restaurante</a>
</body>
{% endblock %}
