<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Habitaciones disponibles</title>
    </head>
    <body>
        <h1>Habitaciones disponibles</h1>
        <ul>
            {% for room in rooms %}
            <li>Habitación:{{ room.roomNumber }} Tipo de habitación:{{ room.roomType }}
                <a href='{% url 'createRoomBookings' room.id startDate endDate %}'><button type="submit">Reservar</button></a>
                <br>
                <br>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>