<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Staff Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="headerGeneral">
            <nav class="mainMenu">
                <ul>
                    <li><a href="#">Inici</a></li>
                    {% if user.user_type == 'roomStaff' %}
                    <li><a href="{% url 'getAvailableRooms' %}">Habitacions</a></li>
                    <li><a href= "{% url 'show_tables' %}">Restaurant</a></li>
                    {% else %}
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Servicios</a></li>
                    {% endif %}
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
            <div class="logo">
                <img src="/static/img/logo.png" alt="Logo">
            </div>
            <!-- Si crem una vista que ens indiqui si l'usuari esta login, podem mostrar:
             - Iniciar sessió si no ha iniciat la sessió
             - Tancar sessió si la sessió ja esta iniciada -->
            <div class="extra-button">
                <a href="{% url 'logOut' %}" class="button"> Tancar Sessió </a>
            </div>
        </div>

    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footerGeneral">
            <div class="logoFooter">
                <img src="/static/img/logo.png" alt="Logo">
            </div>
            <div class="footerCopy">
                <p> © 2024 Hotel Las Palmeras. All rights reserved </p>
                <p> Contact: info@mycompany.com | Phone: 123-456-7890 </p>
            </div>
            <div class="footerTextToCenter">
                <p> TEXT PER CENTRAR </p>
            </div>
        </div>
    </footer>
</body>
</html>