<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Staff Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="headerGeneral">
            <nav class="mainMenu">
                <ul>
                    <li>
                        <div class="logo">
                            <a href="{% url 'roomStaffHomePage' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
                        </div>
                    </li>
                    {% if user.user_type == 'roomStaff' %}
                        <li><a href="{% url 'getAvailableRooms' %}">Habitaciones</a></li>
                        <li><a href= "{% url 'show_tables' %}">Restaurante</a></li>
                        <li><a href= "{% url 'obtainRoomBookings' %}">Reservas de habitaciones</a></li>
                        <li><a href= "{% url 'getTablesReservationHistory' %}">Reservas de mesas</a></li>
                        <li><a href= "{% url 'getCustomersBills' %}">Pagos pendientes</a></li>
                        <li><a href= "{% url 'addItemToBill' %}">Añadir pago</a></li>
                    {% else %}
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Servicios</a></li>
                    {% endif %}
                    <!--<li><a href="#">Contacto</a></li>-->
                </ul>
            </nav>
            <div class="extra-button">
                <a href="{% url 'logOut' %}" class="button">Cerrar sesión</a>
            </div>
        </div>

    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        <div class="footerGeneral">
            <div class="footerCopy">
                <p> © 2024 Hotel Las Palmeras. All rights reserved </p>
                <p> Contact: info@mycompany.com | Phone: 123-456-7890 </p>
            </div>
        </div>
    </footer>
</body>
</html>