{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Detalls pagaments</title>
    </head>
    
    <title>Detalles del pago realizado del cliente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
            margin-top: 250px;
            margin-bottom: 20px;
        }
    </style>

<body>
    <div class="container">
        <h1>Detalles del pago realizado del cliente</h1>
        <p><strong>Email del cliente:</strong> {{ completedPayment.customer.email }}</p>
        <p><strong>Cantidad total pagada:</strong> {{ totalPayed }}</p>
        <br>
        <p><strong>Items:</strong></p>
        <ul>
            {% for item in completedPayment.items.all %}
                <li>
                    <p><strong>Nombre:</strong> {{ item.name }}</p>
                    <p><strong>Detalles:</strong> {{ item.details }}</p>
                    <p><strong>Precio:</strong> {{ item.price }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}

