{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas de habitaciones</title>
    <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">

</head>
<body>
    <h1>Crear reservas de habitaciones</h1>
    <form method="post" class="form_vertical">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn" type="submit">Confirmar reserva</button>
    </form>
</body>
</html>
