{% extends 'base.html' %}
{% load static %}


{% block content %}

    <title>Reservas de habitaciones</title>
    <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">
    <style>
       .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
            margin-top: 250px;
            margin-bottom: 20px;
        }
        .container li {
            padding: 10px;
        }
    </style>

    
<body>
    <div class="container">
        <h1>Crear reservas de habitaciones</h1>
        <form method="post" class="form_vertical">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn" type="submit">Confirmar reserva</button>
        </form>
    </div>
</body>

{% endblock %}
