{% extends 'base.html' %}
{% load static %}


{% block content %}
    <head>
        <title>Reserva d'habitació</title>
    </head>

    <title>Reservas de habitaciones</title>
    <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">
    
<body>
    <div class="container">
        <h1>Crear reservas de habitaciones</h1>
        <form method="post" class="form_vertical">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn" type="submit">Confirmar reserva</button>
        </form>
    </div>
</body>

{% endblock %}
