{% extends 'base.html' %}
{% load static %}



{% block content %}
    <head>
        <title>Habitaciones disponibles</title>
    </head>
    
    <title>Seleccione fecha y tipo de habitación</title>
    <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

<body>
    <h1>Seleccione fecha y tipo de habitación</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_startDate">Fecha de inicio:</label>
            <input type="date" name="startDate" id="id_startDate">
        </div>

        <div class="form-group">
            <label for="id_endDate">Fecha de fin:</label>
            <input type="date" name="endDate" id="id_endDate">
        </div>
        
        <div class="form-group">
            <label for="id_capacity">Numero de huespedes:</label>
            <input type="number" name="capacity" id="id_capacity">
        </div>

        <div class="form-group">
            <label for="id_roomType">Tipo de habitación:</label>
            <select name="roomType" id="id_roomType">
                <option value="standard">Estandar</option>
                <option value="deluxe">De lujo</option>
                <option value="lowCost">Economica</option>
            </select>
        </div>

        <button type="submit" class="button-66">Ver disponibilidad</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="error-message">
                    {{ message }}
                </div>
            {% elif message.tags == 'success' %}
                <div class="success-message">
                    <strong>¡Éxito! </strong>{{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
{% endblock %}