{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Obtención pagos completados</title>
    </head>
    
    <title>Pagos realizados de los clientes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">
<body>
    <h1>Pagos realizados de los clientes</h1>
    <table class="styled-table available-table">
        <thead>
            <tr>
                <th>Pagos realizados</th>
            </tr>
        </thead>
        <tbody>
            {% for completedPayment in completedPayments %}
            <tr>
                <td>{{ completedPayment.roomBooking }} <a href="{% url 'completedPaymentsDetails' completedPayment.id %}" class="button-66" role="button"> Ver pagos completados</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay pagos realizados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
