{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Facturas</title>
    </head>
        <title>Facturas</title>
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <body>
    <h1>Facturas Hotel Las Palmeras</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filtrar</button>
    </form>

    <ul>

        {% for day, bill in bills %}
            <h2>Día {{ day }}</h2>

            <li style="display: flex; align-items: center; ">
                {{ bill }}
                <a href="{% url 'pdf_view' year month day bill %}">
                    <img style="max-height: 40px; margin-left: 8px;" src="{% static 'img/adobe.png' %}" alt="Adobe Icon">
                </a>
            </li>
        {% endfor %}
    </ul>

    </body>
{% endblock %}