{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Historial restaurant</title>
</head>

    <title>Hisorial de pedidos del restaurante</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

<body>
    <div class="container">
        <h1>Hisorial de pedidos del restaurante</h1>
        <ul>
            {% for restaurantOrder in restaurantOrders %}
                <li><strong>Mesa: </strong>{{ restaurantOrder.table }} <strong>Fecha:</strong> {{ restaurantOrder.date }} <strong>Turno:</strong> {{ restaurantOrder.shift }}
                    <a href="{% url 'getRestaurantOrderDetails' restaurantOrder.id %}" class="button-66" role="button">Ver detalles del pedido</a>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}
