{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Detalles pedidos del restaurante</title>
    </head>
    
    <title>Detalles del pedido del restaurante</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

<body>
    <h1>Detalles del pedido del restaurante</h1>
    <table class="styled-table available-table">
        <thead>
            <tr>
                <th>Precio total</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for ordered_product in order.restaurantorderedproduct_set.all %}
            <tr>
                <td>{{ totalPrice }}</td>
                <td>{{ ordered_product.product.name }}</td>
                <td>{{ ordered_product.quantity }}</td>
                <td>{{ ordered_product.product.price }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
