{% extends 'base.html' %}
{% load static %}

{% block content %}
    
        <title>Hisorial de pedidos del restaurante</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">
        <style>
       .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
            margin-top: 250px;
            margin-bottom: 20px;
        }
        .container li {
            padding: 10px;
        }
    </style>

    <body>
        <div class="container">
            <h1>Hisorial de pedidos del restaurante</h1>
            <ul>
                {% for restaurantOrder in restaurantOrders %}
                    <li><strong>Mesa: </strong>{{ restaurantOrder.table }} <strong>Fecha:</strong> {{ restaurantOrder.date }} <strong>Turno:</strong> {{ restaurantOrder.shift }}
                        <a href="{% url 'getRestaurantOrderDetails' restaurantOrder.id %}" class="button-66" role="button">Ver detalles del pedido</a>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
{% endblock %}
