{% extends 'base.html' %}

{% block title %}
Algo per provar
{% endblock %}

{% block content %}
    <head>
        <title>HomePage</title>
    </head>

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">

    <body>
        <h1>Bienvenidos a LAS PALMERAS HOTEL</h1>
        <h2>Nuestras instalaciones</h2>
    </body>


    <!-- Carrusel de imágenes -->
    <div class="carousel">
        <div class="slides">
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/hotel_fora1.jpg' %}" alt="Instalación 1"></div>
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/hotel_fora2.png' %}" alt="Instalación 2"></div>
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/room1.jpg' %}" alt="Instalación 3"></div>
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/room2.jpg' %}" alt="Instalación 4"></div>
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/restaurant.png' %}" alt="Instalación 5"></div>
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/billar.jpg' %}" alt="Instalación 6"></div>
            <div class="slide" style="width: 2000px; height: 900px"><img src="{% static 'img/piscina interior.jpg' %}" alt="Instalación 7"></div>
        </div>
    </div>

    <script src="{% static 'js/carousel.js' %}"></script>

{% endblock %}
