{% extends 'base.html' %}
{% load static %}


{% block content %}
    <title>Reservar mesa</title>
    <link rel="stylesheet" href="{% static 'css/show_tables.css' %}">

<body>
    <h1>Reserva de Mesa</h1>
    <p>Numero de mesa: {{ num }}</p>
    <p>Capacidad Màxima: {{ capacity }}</p>
    <p>Dia seleccionado: {{ selected_date }}</p>
    <p>Hora seleccionada: {{ selected_time }}</p>
    <h1>Formulario reservar mesa</h1>
    <form method="post" class="form_vertical">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Input oculto para almacenar el ID de la mesa reservada -->
        <input type="hidden" id="tableId" name="tableId" value="{{ table_id }}">
        <br>
        <button class="btn" type="submit">Confirmar reserva</button>
    </form>
</body>
{% endblock %}
