{% extends 'base.html' %}
{% load static %}


{% block content %}
    <head>
        <title>Reservar taula</title>
    </head>
    
    <title>Reservar mesa</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

<body>
    <h1>Reserva de Mesa</h1>
    <p>Numero de mesa: {{ num }}</p>
    <p>Capacidad Màxima: {{ capacity }}</p>
    <p>Dia seleccionado: {{ selected_date }}</p>
    <p>Hora seleccionada: {{ selected_time }}</p>
    <form method="post" class="form_vertical">
        {% csrf_token %}
        <h2 class="form_title">Formulario reservar mesa</h2>
        {{ form.as_p }} 
        <!-- Input oculto para almacenar el ID de la mesa reservada -->
        <input type="hidden" id="tableId" name="tableId" value="{{ table_id }}">
        <button type="submit" class="button-66">Confirmar</button>
    </form>
</body>
{% endblock %}
