{% extends 'base.html' %}
{% load static %}

{% block content %}

    <head>
        <title>Habitacions a netejar</title>
    </head>
    
    <title>Limpieza pendiente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

    <body>
        <h1>Limpiezas Pendientes</h1>
        <div class="button-container">
            <a href="{% url 'roomsForCleaning' 1 %}"><button type="submit" class="button-66">P1</button></a>
            <a href="{% url 'roomsForCleaning' 2 %}"><button type="submit" class="button-66">P2</button></a>
            <a href="{% url 'roomsForCleaning' 3 %}"><button type="submit" class="button-66">P3</button></a>
        </div>
        <br>

        <ul>
            {% for roomBooking in roomBookings %}
                {% if roomBooking.toClean and roomBooking.roomBooked.roomFloor == floor %}

                    <li><strong>{{ roomBooking.roomBooked }}:</strong> Fecha de inicio: {{ roomBooking.startDate }} Fecha de finalizacion: {{ roomBooking.endDate }}

                    <div class="button-container">
                        <a href="{% url 'roomIsClean' roomBooking.id %}"><button type="submit" class="button-66">Confirmar limpieza</button></a>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </body>

{% endblock %}