{% extends 'base.html' %}
{% load static %}

{% block content %}

    <head>
        <title>Habitacions a netejar</title>
    </head>
    
    <title>Limpieza pendiente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

    <body>
        <h1>Limpiezas Pendientes</h1>

        <ul>
            {% for roomBooking in roomBookings %}
                {% if roomBooking.toClean %}
                    <li><strong>Habitacion {{ roomBooking.roomBooked.roomNumber }} :</strong> Fecha de inicio: {{ roomBooking.startDate }} Fecha de finalizacion: {{ roomBooking.endDate }}

                    <div class="button-container">
                        <a href="{% url 'roomIsClean' roomBooking.id %}"><button type="submit" class="button-66">Confirmar limpieza</button></a>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </body>

{% endblock %}