<!-- room_booking_cleaning.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

    <h2>Room Bookings que Necesitan Limpieza</h2>
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="button-66">Filtrar</button>
    </form>

    <h3>Listado de Reservas para Limpiar:</h3>
    <ul>
        {% for booking in room_bookings %}
            <li>
                {{ booking }} {% if not booking.cleaned %}
                <form action="{% url 'mark_as_cleaned' booking.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Marcar como limpia</button>
                </form>
                {% endif %}
            </li>
        {% empty %}
            <li>No hay reservas para limpiar.</li>
        {% endfor %}
    </ul>
{% endblock %}