<!-- room_bookings_clean.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reservas Limpias
{% endblock %}

{% block content %}
    <head>
        <title>Habitaciones limpias</title>
    </head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <body>
        <h1>Habitaciones limpias</h1>
        <form method="get">
            {{ form.as_p }}
            <button type="submit" class="button-66">Filtrar</button>
        </form>
        <h3>Listado de Reservas Limpias:</h3>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Habitaciones limpias</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in room_bookings_clean %}
                <tr>
                    <td>{{ booking }} <a href="{% url 'mark_as_dirty' booking.id %}" class="button-55">Marcar como sucia</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay habitaciones limpias</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

{% endblock %}

<ul>
        {% for booking in room_bookings_clean %}
            <li>
                {{ booking }}
                <form action="{% url 'mark_as_dirty' booking.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Marcar como sucia</button>
                </form>
            </li>
        {% empty %}
            <li>No hay reservas con habitaciones limpias.</li>
        {% endfor %}
    </ul>