<!-- room_booking_cleaning.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Habitaciones por limpiar</title>
    </head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <body>
        <h1>Habitaciones que Necesitan Limpieza</h1>
        <form method="get">
            {{ form.as_p }}
            <button type="submit" class="button-66">Filtrar</button>
        </form>
        <h3>Listado de Reservas para Limpiar:</h3>
        <table class="styled-table2">
            <thead>
                <tr>
                    <th>Habitaciones por limpiar</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in room_bookings %}
                <tr>
                    <td>{{ booking }} {% if not booking.cleaned %} <a href="{% url 'mark_as_cleaned' booking.id %}" class="button-66">Marcar como limpia</a></td>
                </tr>
                    {% endif %}
                {% empty %}
                <tr>
                    <td colspan="5">No hay habitaciones para limpiar</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

{% endblock %}

<h3>Listado de Reservas para Limpiar:</h3>
    <ul>
        {% for booking in room_bookings %}
            <li>
                {{ booking }} {% if not booking.cleaned %}
                <form action="{% url 'mark_as_cleaned' booking.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Marcar como limpia</button>
                </form>
                {% endif %}
            </li>
        {% empty %}
            <li>No hay reservas para limpiar.</li>
        {% endfor %}
    </ul>