<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detalles de la reserva de la habitacion</title>
    </head>
    <body>
        <h1>Detalles de la reserva de la habitacion</h1>
        <ul>
            Habitacion reservada: {{ roomBooking.roomBooked.roomNumber }}
            <br>
            <br>
            Tipo de habitacion: {{ roomBooking.roomBooked.roomType }}
            <br>
            <br>
            Fecha de inicio: {{ roomBooking.startDate }}
            <br>
            <br>
            Fecha de finalizacion: {{ roomBooking.endDate }}
            <br>
            <br>
            Usuario que ha reservado: {{ roomBooking.userWhoBooked }}
            <br>
            <br>
            Huesped: {{ roomBooking.guestName }}
            <br>
            <br>
            Correo electronico del huesped: {{ roomBooking.guestEmail }}
            <br>
            <br>
            Número de telefono del huesped: {{ roomBooking.guestPhoneNumber }}
            <br>
            <br>
            DNI del huesped: {{ roomBooking.guestDNI }}
            <br>
            <br>
            Numero de huespedes en la habitación: {{ roomBooking.numberGuest }}
            <br>
            <br>
            Check-in: {{ roomBooking.checkIn }}
            <br>
            <br>
            Check-out: {{ roomBooking.checkOut }}
            <br>
            <br>
            
            <a href="{% url 'checkIn' roomBooking.id%}"><button type="submit">Confirm check-in</button></a>
            <a href="{% url 'checkOut' roomBooking.id%}"><button type="submit">Confirm check-out</button></a>
        </ul>
    </body>
</html>