{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Iniciar sesión</title>
        <link rel="stylesheet" href="{% static 'css/signIn.css' %}">
    </head>
    <body>

        <div class="login_div">
            <h1>Iniciar sesión</h1>
            <form method="post">
                {% csrf_token %}
                 {% for error in form.non_field_errors %}
                     <p class="form_error">{{ error }}</p>
                 {% endfor %}
                <p>Correo electrónico</p>
                {{ form.email }}
                <p>Contraseña</p>
                {{ form.password }}
                <button type="Submit">Iniciar sesión</button>
            </form>
        </div>
    </body>
</html>