{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<title>Reservas de mesas</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

<body>
    <h1>Reservas de mesas</h1>
    <table class="styled-table2">
        <thead>
            <tr class="red-background">
                <th>Numero de mesa</th>
                <th>Fecha</th>
                <th>Turno</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for tablesReservation in tablesReservations %}
            <tr>
                <td>{{ tablesReservation.tableReserved }}</td>
                <td>{{ tablesReservation.reservationDate }}</td>
                <td>{{ tablesReservation.shift }}</td>
                <td><a href="#" class="button-55" role="button">Consultar reserva</a></td>
            <!-- Volia enllaçar-lo amb consultar_reserva, pero no ho he aconseguit-->
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay mesas reservadas en esta fecha y hora.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
{% endblock %}
<!-- Taula original en show_tables -->
    <table class="styled-table2">
        <thead>
            <tr class="red-background">
                <th>Numero de mesa</th>
                <th>Capacidad</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for table_info in reserved_tables %}
            <tr>
                <td>{{ table_info.num }}</td>
                <td>{{ table_info.capacity }}</td>
                <td>{{ selected_date }}</td>
                <td>{{ selected_time }}</td>
                <td><a href="{% url 'consultar_reserva' table_id=table_info.id selected_date=selected_date selected_time=selected_time %}" class="button-55" role="button">Consultar reserva</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay mesas reservadas en esta fecha y hora.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>