{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Reservas restaurante</title>
    </head>
    
<title>Información de Reserva</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">

<body>
    <div class="styled-table">
        <h1>Información de la Reserva</h1>
        <h2>Mesa Reservada</h2>
        <p><strong>Numero de la Mesa:</strong> {{ reserva.tableReserved.tableNumber }}</p>
        <p><strong>Capacidad de la Mesa:</strong> {{ reserva.tableReserved.capacity }}</p>
        <h2>Detalles de la Reserva</h2>
        <p><strong>Nombre del Cliente:</strong> {{ reserva.clientName }}</p>
        <p><strong>Teléfono del Cliente:</strong> {{ reserva.clientPhoneNumber }}</p>
        <p><strong>Número de Comensales:</strong> {{ reserva.numberOfClients }}</p>
        <p><strong>Fecha de Reserva:</strong> {{ reserva.reservationDate }}</p>
        <p><strong>Hora de Reserva:</strong> {{ reserva.shift }}</p>
    </div>
</body>
{% endblock %}