{% extends 'base.html' %}
{% load static %}

{% block content %}
    
        <title>Reservas de mesas</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/show_tables.css' %}">
        <style>
       .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
            margin-top: 250px;
            margin-bottom: 20px;
        }
        .container li {
            padding: 10px;
        }
    </style>

    <body>
        <div class="container">
            <h1>Reservas de mesas</h1>
            <ul>
                {% for tablesReservation in tablesReservations %}
                    <li><strong>Mesa: </strong>{{ tablesReservation.tableReserved }} <strong>Fecha:</strong> {{ tablesReservation.reservationDate }} <strong>Turno:</strong> {{ tablesReservation.shift }}
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
{% endblock %}
